fastapi
uvicorn
python-dotenv
pydantic-settings
sqlalchemy
requests
python-multipart
pydantic
email-validator
httpx
scikit-learn
pandas
numpy
joblib
chromadb
sentence-transformers
transformers
torch
sentencepiece
PyPDF2
PyYAML
tqdm
